.image-input {
  display: flex;
}

.image-thumbnail {
  width: 100%;
}

.tab {
  margin-top: 30px;
  padding: 20px;
  font-family: roboto,arial;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: red;
border: none;
}